# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [25]:
CREATE TABLE JunkDB_STL_Sept2022.sarahb.planned_makes2 (
    project_id INT PRIMARY KEY IDENTITY,
    project_name VARCHAR(50),
    description VARCHAR(500),
    quantity_goal INT, 
    time_estimated INT
)

Add three rows to your table that are your planned makes.

In [29]:
INSERT INTO sarahb.planned_makes2 
VALUES ('workouts', 'list of exercises with sets, reps, and rpi specified', 45, 4),
('home projects', 'list of projects to attempt this year with materials and estimated time', 10, 1),
('teach Sam', 'list of activities', 12, 2)

## Update a Row

Change different values in one of your three rows.

In [30]:
UPDATE sarahb.planned_makes2
SET time_estimated = 3
WHERE project_id = 3


SELECT *
FROM sarahb.planned_makes2

project_id,project_name,description,quantity_goal,time_estimated
1,workouts,"list of exercises with sets, reps, and rpi specified",45,4
2,home projects,list of projects to attempt this year with materials and estimated time,10,1
3,teach Sam,list of activities,12,3

## Delete a Row

Delete one of the rows from your table.

In [44]:
DELETE FROM sarahb.planned_makes2
WHERE project_name LIKE '%teach%'

SELECT *
FROM sarahb.planned_makes2

project_id,project_name,description,quantity_goal,time_estimated
1,workouts,"list of exercises with sets, reps, and rpi specified",45,4
2,home projects,list of projects to attempt this year with materials and estimated time,10,1

## Drop the Table

While this has been fun, it is time to drop the table!

In [45]:
DROP TABLE sarahb.planned_makes2